body {
}
#nav {
	height: 10vh;
}
#card {
	width: 1000px;
	height: 80vh;
	margin: auto;
	padding: 20px;
	box-shadow: 0px 0px 30px var(--unnamed-color-edece6);
	border: 1px solid var(--unnamed-color-edece6);
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 30px #edece6;
	border: 1px solid #edece6;
	border-radius: 61px;
	opacity: 1;
}
